
<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    beStrictAboutCoversAnnotation="false"
    verbose="true"
>
    <php>
        <!-- Entorn of test -->
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>

        <!-- Kernel Symfony -->
        <env name="KERNEL_CLASS" value="App\Kernel"/>

        <!-- In-memory databases (faster than using physical files) -->
        <env name="DATABASE_URL" value="sqlite:///:memory:"/>

        <!-- Disable logs and emails during teststing -->
        <env name="MAILER_DSN" value="null://null"/>
        <env name="MESSENGER_TRANSPORT_DSN" value="in-memory://"/>
    </php>

    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <!-- Opcional but recommended -->
    <coverage>
        <include>
            <directory>src</directory>
        </include>
    </coverage>
</phpunit>
